<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HCQL_Aggregate_Functions/src/agg_sorting_ascending_order/TestAscendingOrd.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="agg_sorting_ascending_order.TestAscendingOrd"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HCQL_Aggregate_Functions"/>
</launchConfiguration>
