<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hibernate_Query_HqlSqlNamedQuer/src/name_queies_practice/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="name_queies_practice.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hibernate_Query_HqlSqlNamedQuer"/>
</launchConfiguration>
